/* #region general */
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 400;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 0;
  margin-right: 0;
}
ul,
ol {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
  display: flex;
  max-width: 1440px;
  padding: left 15px;
  padding: right 15px;
  margin: 0 auto;
}
img {
  display: block;
}
/* #endregion general */

/* #region header */
.header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.logo-two {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo-box {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.button-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  height: 24px;
}
.button-nav:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.button-nav:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.nav-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  display: block;
  height: 24px;
  padding-left: 72px;
}
.nav-contact-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  display: block;
  height: 24px;
  padding-left: 72px;
}
.nav-contact:hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.nav-contact:focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
/* #endregion header */
/* #region main */
.section-blue {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.section-box {
  width: calc((100% - 72px) / 4);
}
.section-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.section-button {
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  gap: 10px;
  max-width: 169px;
  height: 56px;
  display: block;
  border: none;
  border-radius: 4px;
}
.section-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.section-button:hover {
  background: #404bbf;
}
.section-button:focus {
  background: #404bbf;
}
/* #endregion main */
/* #region main-two */
.zachem {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-feture {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-headline-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion main-two */
/* #region main-three */
.team-box {
  background: #f4f4fd;
  color: #2e2f42;
}
.team-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-frame {
  background: #fff;
  color: #2e2f42;
}
.team-personal {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion main-three */
/* #region main-four */
.portfolio-box {
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.box-one {
  color: #2e2f42;
}

.personal-box {
  background: #fff;
}
.personal-headlight {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.personal-discription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion main-four */
/* #region footer*/
.footer {
  background: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion footer*/
/* #region boxes */
.feature-container {
  display: flex;
  gap: 24px;
}
.team-container {
  display: flex;
}
.box-one {
  display: flex;
}
.container-header {
  justify-content: space-between;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  height: 24px;
  gap: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 auto;
  width: 1158px;
  height: 72px;
}
.container-one {
  width: 1440px;
  height: 600px;
}
.container-two {
}
.container-three {
}
.container-footer {
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-box {
  justify-content: space-between;
  display: flex;
  gap: 40px;
  padding-left: 76px;
}
/* #endregion boxes */
